/*arquivo que tem todas as cutomizações que não são do bootstrap*/


a{
    color: #fff;
}
.nav.nav-tabs li a span{
	background: #ddd;
	color: #fff;
	cursor: pointer;
	position: absolute;
	margin-top: -5px;
    margin-right: -5px;
	width: 15px;
	height: 15px;
	line-height: 12px;
	border-radius: 2px;
	text-align: center;
	vertical-align: text-top;
	border: 0.5px solid #ccc;
}

.nav.nav-tabs li a span:hover{
	background: #B21938;
	border: solid 0.5px #B21938;
	color: #fff;
	font-weight: bold;
}


.conteudo-principal{
	width: 85%;
	height: 80%;
	display: table;
}

.nav-acordos{
    float: left;
    height: 100%;
    width: 15%;
    background: #222;
    margin-bottom: 0px
}

.conteudo-principal{
    float: right;
}
.nav-acordos{
list-style: none !important;
    margin: 0px;
    padding: 0px;
    display: inline;
    overflow: hidden;
    position: fixed;
    float: left;

    /*padding-left: 20px;*/
    /*padding-top: 10px;*/
}
.nav-acordos ul{
    list-style: none !important;
    margin: 0px;
    padding: 0px;
    display: inline;
}

.menu-side-bar{
    width: 100%;
    height: 20px;
    display: table;
}
.menu-side-bar span{
    cursor: pointer;
    float: right;
    display: block;
    color: #fff;
}

.menu-side-bar span:hover{
    color: rgba(255,255,255,0.2);
}

.nav-acordos ul li{
    list-style: none;
}
.nav-acordos a{
    line-height: 26px;
    padding-left: 20px;
}

.nav-acordos a:hover, .nav-acordos a:focus{
    color: #b83039;
}
.nav-acordos a:hover{
    color: #fff;
}

.nav-acordos li:hover{
    background-color: transparent;
}
.list-periodos a, .list-periodos li{
    /*padding-left: 20px;*/
}

.list-plantas:focus{
    background: #333;
}


.nav.nav-tabs{
    width: 85%;
    float: right;
}

.conteudo-principal .conteudo{
	margin: 0 auto;
	display: table;
}

.conteudo{
    max-width: 900px;
}

.form form input[type="file"]{
    width:100%;
    padding: 0;
    margin-left: 0;
}

.form form input[type="submit"]{
    width: 100px;
}
.form form button, 
.filtros button,
.retrieve-componentes-produto button,
.form form input[type="submit"] {
    background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
    background-repeat: repeat-x;
    border-color: #245580;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #b83039;
    border-color: #2e6da4;
    color: #fff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    /*margin-left: 20px;*/
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-family: inherit;
}

/*button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}*/

.form form{
	width: 800px;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-top: 20px;
    display: table;
}

.form form label, .retrieve-ordem-producao form label, .retrieve-componentes-produto form label{
	padding-top: 5px;
    text-align: right;
    min-width: 100px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.retrieve-ordem-producao form label, 
.retrieve-componentes-produto form label, 
.form .apontamento-componente  label{
    /*width: 80px;*/
}
.form form input, .form form select, 
.retrieve-ordem-producao form input, 
.retrieve-ordem-producao .filtros select,
.retrieve-componentes-produto form select, 
.retrieve-componentes-produto form input,
.filtros input{
	text-align: left;
	padding-left: 10px;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 220px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    color: #555;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.retrieve-ordem-producao form input, 
.retrieve-componentes-produto form input, 
.dados_componente form input, 
.retrieve-componentes-produto form select, 
.dados_componente form select{
    width: 150px;
}


.retrieve-usuarios, 
.retrieve-ordem-producao, 
.retrieve-componentes-produto, 
.retrieve-linha-producao,
.dados_componente{
	/*min-width: 600px;*/
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-top: 70px;
    display: table;
}

.retrieve-assuntos,
.retrieve-planta-table,
.retrieve-usuarios-table,
.retrieve-planta-table,
.retrieve-periodo-table,
.retrieve-table{
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 20px;
    display: table;
}

.retrieve-table a{
    color: #222;
}

.retrieve-table a:hover, .retrieve-table tr:hover{
    color: #b83039;
}
.retrieve-table table tbody tr:hover{
    border-bottom: #b83039;
}

.retrieve-assuntos h2,
.retrieve-planta-table h2,
.retrieve-periodo-table h2,
.retrieve-usuarios-table h2,
.retrieve-usuarios h2, 
.retrieve-ordem-producao h2, 
.retrieve-componentes-produto h2, 
.retrieve-table h2,
.retrieve-linha-producao h2{
	margin-top: 0;
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -use-text-color -use-text-color #e5e5e5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333;
    display: block;
    font-size: 21px;
    line-height: inherit;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    border-color: #e5e5e5;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 15px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
}   

th {
    background: #333;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
    text-align: center;
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 5px;
    position: relative;
    transition: all 300ms;
    text-align: left;
}

.table.table-striped.table-hover tbody tr td{
    vertical-align: center;

}

td span{
    font-size: 20px;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
td span:hover{
    color: #b83039;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

tr:hover{
    background: #fff;
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

/*tbody:hover td {
    color: #b83039;
    text-shadow: 0 0 3px #aaa;
}*/

tbody:hover tr:hover{
    text-shadow: 0 1px 0 #fff;
}

.apontamento{
    display: none;
    position: absolute;
    background: #333;
    width: 100%;
    height: 3000px;
    z-index: 200;
    opacity:0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity=65);
}
.dados_componente{
    padding: 20x;
    display: none;
    position: absolute;
    z-index: 210;
    background: #fff;
    border: solid 2px #ccc;
    margin-left: 25%;
}
.dados_componente div, .dados_componente div form{
    display: table;
    /*background: white;*/
    z-index: 310;
}

.dados_componente form{
    width: 600px;
}

#fechar-apontamento-componente{
    float: right;
    margin-bottom: 20px;
}

@media only screen and (max-width: 770px) {
      .dados_componente{
            margin-left: 10%;
      }
  }
.body-table-abastecimento{
    margin: 0 auto;
}

.alert.alert-success{
    display: table;
    z-index: 320;
    width: 100%;
}

input.seq_prod{
    width: 60px;
}

/*
Az esc marinho      0   135 145   #008791
Az marinho          105 179 158   #69B39E
Laranja             255 165 20    #FFA514
Vermelho            245 100 50    #F56432
verde claro         198 222 137   #C6DE89
preto               102 102 102   #666666*/

.form form input.dsc_file{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 70%;
}

.glyphicon-trash{
    cursor: pointer;
}

.nav-tabs{
    /*background: #337ab7;*/
    background: #B83039;
}
.nav.nav-tabs li a{
    height: 30px;
    line-height: 0.429;
     /*background: #fff;*/
     margin-right: 0px;
}

.nav.nav-tabs li{
    border-radius: 4px 4px 0 0;
    background: #ddd;
    margin-right: 2px;
    margin-top: 2px;
    color: #fff;
}

.nav.nav-tabs li a:hover{
    color: #555;
}

/*.nav.nav-tabs li{
    background: #ddd;
}*/

.nav.nav-tabs{

}

.atach-file{
    color: #b83039;
}

.atach-file:hover{
    color: #b83039;
    text-decoration: underline;
}

.navbar-header img{
    width: 70px;
    margin-right: 20px;
}

.upload-messages-esturtura-produto{
    width: 100%;
}

.glyphicon-trash:hover{
    color: #b83039;
}

.set_form{
    width: 100%;
    display: table;
    margin-bottom: 20px;
}

.set_form .set_com{
    width: 50%;
    float: left;
    display: inline;
}

.set_form .set_com label, .set_form .set_com select{
    text-align: left;
     margin-left: 20px;
     margin-bottom: 0;
     margin-top: 0;
    bottom: 0;
}

.set_assunto{
    width: 100%;
}

.set_assunto a{
    float: right;
    color: #b83039;
}

form fieldset .set_assunto input,
form fieldset .set_assunto select{
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

form fieldset .set_assunto label{
    margin: 0;
    text-align: left;
}

.table{
    border-radius: 5px;
}

.glyphicon-edit{
    cursor: pointer;
}

.conceitos{
    width: 400px;
    height: 200px;
    overflow: hidden;
    display: inline;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

.conceitos:hover{
    box-shadow: 0 1px 2px #b83039;
}

fieldset img{
    width: 70px;
    float: right;
}

fieldset legend{
    vertical-align: bottom;
    text-align: center;
}


#sortable1, #sortable2 {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    min-height: 30px;
    list-style-type: none;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    /*margin-right: 10px;*/
    display: block;
    float: left;
  }

   #sortable2{
    display: block;
  }


  #sortable1 li, #sortable2 li .name{
    /*
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
    display: inline;*/
    margin: 5px;
    margin-left: 0;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 4px;
    border: none;
    background-color: #d9534f;
    
  }

  #sortable1 li{
    float: left;
    margin: 5px 5px 5px 0;
    padding: 0.2em 0.6em 0.3em;
    /*display: inline;*/
  }

  #sortable2 li{
    display: block;
  }
  #sortable1 li:hover, #sortable2 li:hover{
    cursor: pointer;
  }

#sortable1 li .id, 
#sortable1 li .dsc_interpretacao, 
#sortable1 li input, 
#sortable1 li .glyphicon-paperclip, 
#sortable1 li .file{
    display: none;
}

#sortable1 li span.dsc_interpretacao, 
#sortable2 li span.dsc_interpretacao, 
#sortable1 li .id, 
#sortable2 li .id{
    display: none;
}

.list-group-item .name{
    /*width: 120px;*/
    /*display: inline;*/
    display: block;
    font-weight: bold;
}

.list-group-item a .file{
    color: #d9534f;
}
.list-group-item .glyphicon-paperclip{
    float: right;
}

.list-group-item a{
    float: right;
    min-width: 120px;
}

.list-group-item .glyphicon-paperclip{
    float: right;
    min-width: 20px;
}

#header-principal{
    position: fixed;
    width: 100%;
    z-index: 1000;

}
.nav.nav-tabs, .nav-acordos{
    margin-top: 51px;
}

.nav-acordos .list-plantas a:hover, 
.nav-acordos .menu-admin:hover, 
.dropdown-menu-admin li:hover{
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.nav-acordos .list-plantas a, .dropdown-menu-admin li a{
    text-decoration: none;
    width: 100%;
    display: table;
}

.alert-danger{
    width: 100%;
}

#hide_last_assunto{
    display: none;
}

.retrieve-table ul.list-group{
    width: 600px;

}

.retrieve-table ul.list-group .list-group-item{
    width: 100%;
    min-height: 60px;
}

.retrieve-table ul.list-group .list-group-item .list-group-item-col{
    min-width: 150px;
    height: 100%;
    display: inline;
    float: left;
}

.buttons-controle{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table;
    margin-top: 20px;
    padding: 10px;
    height: 30px;
}

.buttons-controle #fechar-apontamento-componente{
    margin-bottom: 0px;
}

.menu-admin .dropdown-menu-admin{
    display: none;
}


